{% extends 'base.html' %}
{% load custom_filters %}
{% block nav_work %}active{% endblock %}

{% block content %}

<div class="container text-center">
    <br><br><br><br>
    <h1 class="dm-serif-text-regular">Career</h1>
    <br>
    <p class="display-5 lead text-monospace">Showcasing my journey through various roles and projects that have shaped my professional expertise.</p>
    <hr>
    <br><br><br>
</div>

<div class="container-fluid">
    {% for experience in experiences %}
    {% if experience.entry_num|mod:2 == 0 %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'singlework' experience.id %}" class="d-flex justify-content-center pt-md-5">
                {% if experience.company_image %}
                <img src="{{ experience.company_image.url }}" alt="company-image" id="hover-section" class="w-50 mt-md-5" style="background-color: aliceblue;box-shadow: 0 0 5px hwb(0 50% 49%); border-radius: 12px;">
                {% endif %}
            </a>
        </div>
        <div class="col-md-6 p-5 my-5 text-left">
            <a href="{% url 'singlework' experience.id %}" style="text-decoration: none;">
                <h3 class="khand-semibold text-dark" id="hover-section">{{ experience.designation }}</h3>
            </a>
            <br>
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center bg-info text-white">{{ experience.start_year }}-{{ experience.end_year }}</p>
            <br><br>
            <p class="text-justify khand-regular">{{ experience.short_description }}</p>
            <br>
            <div>
                <ul class="khand-regular text-info">
                    {% if experience.duty1 %}<li>{{ experience.duty1 }}</li>{% endif %}
                    {% if experience.duty2 %}<li>{{ experience.duty2 }}</li>{% endif %}
                    {% if experience.duty3 %}<li>{{ experience.duty3 }}</li>{% endif %}
                    {% if experience.duty4 %}<li>{{ experience.duty4 }}</li>{% endif %}
                </ul>
            </div>
            <br><br>
            <div>
                <a href="{% url 'singlework' experience.id %}" class="d-flex justify-content-center" style="text-decoration: none;">
                    <button class="btn btn-info border rounded-pill text-white text-center w-25 m-auto khand-medium font-weight-bold">View</button>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6 p-5 my-5 text-left">
            <a href="{% url 'singlework' experience.id %}" style="text-decoration: none;">
                <h3 class="khand-semibold text-dark" id="hover-section">{{ experience.designation }}</h3>
            </a>
            <br>
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center bg-info text-white">{{ experience.start_year }}-{{ experience.end_year }}</p>
            <br><br>
            <p class="text-justify khand-regular">{{ experience.short_description }}</p>
            <br>
            <div>
                <ul class="khand-regular text-info">
                    {% if experience.duty1 %}<li>{{ experience.duty1 }}</li>{% endif %}
                    {% if experience.duty2 %}<li>{{ experience.duty2 }}</li>{% endif %}
                    {% if experience.duty3 %}<li>{{ experience.duty3 }}</li>{% endif %}
                    {% if experience.duty4 %}<li>{{ experience.duty4 }}</li>{% endif %}
                </ul>
            </div>
            <br><br>
            <div>
                <a href="{% url 'singlework' experience.id %}" class="d-flex justify-content-center" style="text-decoration: none;">
                    <button class="btn btn-info border rounded-pill text-white text-center w-25 m-auto khand-medium font-weight-bold">View</button>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <a href="{% url 'singlework' experience.id %}" class="d-flex justify-content-center pt-md-5">
                {% if experience.company_image %}
                <img src="{{ experience.company_image.url }}" alt="company-image" id="hover-section" class="w-50 mt-md-5" style="background-color: aliceblue;box-shadow: 0 0 5px hwb(0 50% 49%); border-radius: 12px;">
                {% endif %}
            </a>
        </div>
    </div>
    {% endif %}

    {% if experience.entry_num > 1 %}
    <br><br>
    <div class="container bg-secondary"><hr></div>
    <br><br>
    {% endif %}
    {% endfor %}

</div>

{% include '_pagination.html' with page_obj=experiences %}

{% endblock %}