SECRET_KEY=your-secret-key-here
DEBUG=False

DATABASE_URL=postgresql://user:password@host:5432/dbname

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_TO_USER=your-email@gmail.com