{% extends 'base.html' %}
{% load custom_filters %}
{% block nav_project %}active{% endblock %}

{% block content %}

<div class="container text-center">
    <br><br><br><br>
    <h1 class="dm-serif-text-regular">Personal Projects</h1>
    <br>
    <p class="display-5 lead text-monospace">Some of my spare time tinkering.</p>
    <hr>
    <br><br><br>
</div>

<div class="container-fluid">
    {% for project in projects %}
    {% if project.entry_num|mod:2 == 0 %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'singleproject' project.id %}" class="d-flex justify-content-center pt-md-5">
                {% if project.project_image %}
                <img src="{{ project.project_image.url }}" alt="project-image" id="hover-section" class="w-50 mt-md-5" style="background-color: aliceblue;box-shadow: 0 0 5px hwb(0 50% 49%); border-radius: 12px;">
                {% endif %}
            </a>
        </div>
        <div class="col-md-6 p-5 my-5 text-left">
            <a href="{% url 'singleproject' project.id %}" style="text-decoration: none;">
                <h3 class="khand-semibold text-dark" id="hover-section">{{ project.project_name }}</h3>
            </a>
            {% if project.status == "Completed" %}
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center" style="background-color: rgba(0, 255, 0, 0.51);"><i class="bi bi-cloud-check-fill mx-1" style="font-size: 20px;"></i> {{ project.status }}</p>
            {% else %}
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center" style="background-color: rgba(255, 0, 0, 0.51);"><i class="bi bi-pause-circle-fill mx-1" style="font-size: 20px;"></i> {{ project.status }}</p>
            {% endif %}
            <br><br>
            <p class="text-justify khand-regular">{{ project.short_description }}</p>
            <br>
            <div>
                <ul class="khand-regular" style="color: rgba(46, 74, 220, 0.84);">
                    {% if project.area1 %}<li>{{ project.area1 }}</li>{% endif %}
                    {% if project.area2 %}<li>{{ project.area2 }}</li>{% endif %}
                    {% if project.area3 %}<li>{{ project.area3 }}</li>{% endif %}
                    {% if project.area4 %}<li>{{ project.area4 }}</li>{% endif %}
                </ul>
            </div>
            <br><br>
            <div>
                <a href="{% url 'singleproject' project.id %}" class="d-flex justify-content-center" style="text-decoration: none;">
                    <button class="btn border rounded-pill text-white text-center w-25 m-auto khand-medium font-weight-bold" id="hover-section" style="background-color: rgba(46, 74, 220, 0.84);">View</button>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6 p-5 my-5 text-left">
            <a href="{% url 'singleproject' project.id %}" style="text-decoration: none;">
                <h3 class="khand-semibold text-dark" id="hover-section">{{ project.project_name }}</h3>
            </a>
            <br>
            {% if project.status == "Completed" %}
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center" style="background-color: rgba(0, 255, 0, 0.51);"><i class="bi bi-cloud-check-fill mx-1" style="font-size: 20px;"></i> {{ project.status }}</p>
            {% else %}
            <p class="lead border rounded-pill font-weight-bold w-25 khand-medium text-center" style="background-color: rgba(255, 0, 0, 0.51);"><i class="bi bi-pause-circle-fill mx-1" style="font-size: 20px;"></i> {{ project.status }}</p>
            {% endif %}
            <br><br>
            <p class="text-justify khand-regular">{{ project.short_description }}</p>
            <br>
            <div>
                <ul class="khand-regular" style="color: rgba(46, 74, 220, 0.84);">
                    {% if project.area1 %}<li>{{ project.area1 }}</li>{% endif %}
                    {% if project.area2 %}<li>{{ project.area2 }}</li>{% endif %}
                    {% if project.area3 %}<li>{{ project.area3 }}</li>{% endif %}
                    {% if project.area4 %}<li>{{ project.area4 }}</li>{% endif %}
                </ul>
            </div>
            <br><br>
            <div>
                <a href="{% url 'singleproject' project.id %}" class="d-flex justify-content-center" style="text-decoration: none;">
                    <button class="btn border rounded-pill text-white text-center w-25 m-auto khand-medium font-weight-bold" id="hover-section" style="background-color: rgba(46, 74, 220, 0.84);">View</button>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <a href="{% url 'singleproject' project.id %}" class="d-flex justify-content-center pt-md-5">
                <img src="{{ project.project_image.url }}" alt="project-image" id="hover-section" class="w-50 mt-md-5" style="background-color: aliceblue;box-shadow: 0 0 5px hwb(0 50% 49%); border-radius: 12px;">
            </a>
        </div>
    </div>
    {% endif %}

    {% if project.entry_num > 1 %}
    <br><br>
    <div class="container bg-secondary"><hr></div>
    <br><br>
    {% endif %}
    {% endfor %}
</div>

{% include '_pagination.html' with page_obj=projects %}

{% endblock %}