{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-light px-5">
    <a class="navbar-brand" href="{% url 'About' %}">
        <img src="https://portfolio--bucket.s3.eu-north-1.amazonaws.com/My+Logo.svg" alt="My Logo" width="75px">
    </a>
    <div class="justify-content-end mx-5">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'project' %}" class="nav-link">
                    <i class="bi bi-arrow-left-circle-fill font-weight-bold" style="font-size: 45px;"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container text-center">
    <br><br><br><br>
    <h1 class="khand-semibold" style="font-size: 89px;">{{ project.project_name }}</h1>
    <h1 class="khand-medium text-info" style="font-size: x-large;"><i class="bi bi-arrows" style="font-size: x-large;"></i>{{ project.project_type }}<i class="bi bi-arrows" style="font-size: x-large;"></i></h1>
    <br>
</div>

<div class="container w-25">
    <div class="row">
        {% if project.area1 %}
        <div class="col-md-6 khand-medium text-secondary text-center" style="font-size: large;">
            <p><i class="bi bi-caret-right text-info" style="font-size: x-large;"></i> {{ project.area1 }}</p>
        </div>
        {% endif %}
        {% if project.area2 %}
        <div class="col-md-6 khand-medium text-secondary text-center" style="font-size: large;">
            <p><i class="bi bi-caret-right text-info" style="font-size: x-large;"></i> {{ project.area2 }}</p>
        </div>
        {% endif %}
        {% if project.area3 %}
        <div class="col-md-6 khand-medium text-secondary text-center" style="font-size: large;">
            <p><i class="bi bi-caret-right text-info" style="font-size: x-large;"></i> {{ project.area3 }}</p>
        </div>
        {% endif %}
        {% if project.area4 %}
        <div class="col-md-6 khand-medium text-secondary text-center" style="font-size: large;">
            <p><i class="bi bi-caret-right text-info" style="font-size: x-large;"></i> {{ project.area4 }}</p>
        </div>
        {% endif %}
    </div>
</div>
<br>

<div class="container-fluid d-flex justify-content-center">
    {% if project.project_image %}
    <img src="{{ project.project_image.url }}" alt="homescreen image" class="w-50" style="box-shadow: 0 0 10px black; border-radius: 10px;">
    {% endif %}
</div>
<br><br><br><br>

<div class="container text-justify p-5">
    <h1 class="khand-medium" style="text-decoration: underline; text-decoration-color:#0dcaf0;">Description</h1>
    <br>
    <p class="khand-regular">{{ project.long_description }}</p>
    <br><br><br><br>
    <h1 class="khand-medium" style="text-decoration: underline; text-decoration-color:#0dcaf0;">Technologies Used</h1>
    <br>
    <div class="row khand-regular ml-1">
        {% for tech in tech_list %}
        <p class="col-sm-3 mr-2 mb-3 p-2 rounded-pill text-center bg-info text-white">{{ tech }}</p>
        {% endfor %}
    </div>
</div>
<br><br><br><br>

<div class="d-flex justify-content-center khand-medium text-dark">
    {% if project.source_code_url %}
    <a href="{{ project.source_code_url }}" target="_blank" style="text-decoration: none;"><button class="hover-button mx-3 border rounded"><span>Source Code</span></button></a>
    {% endif %}
    {% if project.project_url %}
    <a href="{{ project.project_url }}" target="_blank" style="text-decoration: none;"><button class="hover-button mx-3 border rounded"><span>Visit Site</span></button></a>
    {% endif %}
</div>
<br><br>

{% endblock %}