{% extends 'base.html' %}
{% block nav_articles %}active{% endblock %}

{% block content %}

<div class="container text-center">
    <br><br><br><br>
    <h1 class="dm-serif-text-regular">Articles</h1>
    <br>
    <p class="display-5 lead text-monospace">Exploring Technologies and Chronicles of My Project Journey</p>
    <hr>
    <br>
</div>

<!-- Search group -->
<div class="container">
    <form action="" method="get">
        <div class="input-group input-group-lg form-group w-75 m-auto">
            <input class="form-control khand-regular" type="text" name="search_query" placeholder="Search an item" value="{{ search_query }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-dark bg-dark"><i class="bi bi-search" style="font-size: large; color: white;"></i></button>
            </div>
        </div>
    </form>
</div>
<br><br><br>

<!-- Context -->
<div class="container w-75">
    {% if no_of_items == 0 %}
    <p class="khand-regular alert alert-danger text-center" role="alert"><strong>Sorry!</strong> No Matches Found.</p>
    {% else %}
    {% for article in articles %}
    <br><br><br>
    <a href="{% url 'singlearticle' article.id %}" style="text-decoration: none;">
        <h1 class="khand-semibold text-dark" id="hover-section">{{ article.heading }}</h1>
    </a>
    <div class="d-flex flex-row khand-regular" style="font-size: large;">
        <p class="text-monospace mr-2 border border-danger text-danger p-2 align-self-center" style="border-radius: 5px;">{{ article.key_point }}</p>
        <p class="text-monospace mx-2 p-2 text-secondary align-self-center">{{ article.date }}</p>
        <p class="text-monospace mx-2 p-2 text-secondary align-self-center">{{ article.minute_read }} minute read</p>
    </div>
    <br>
    <p class="khand-regular text-dark text-justify">{{ article.primary_note }}</p>
    <br>
    <a href="{% url 'singlearticle' article.id %}" class="new-amsterdam-regular" id="hover-section" style="text-decoration: none; color: rgb(110, 182, 246);">Read Article ></a>
    <br><br>
    {% if article.entry_num > 1 %}
    <div class="bg-info font-weight-bold"><hr></div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<br><br>

{% include '_pagination.html' with page_obj=articles %}

{% endblock %}