{% extends 'base.html' %}
{% load static %}
{% block nav_about %}active{% endblock %}

{% block content %}

<!-- Word Intro -->
<div class="container text-center mb-0">
    <br><br><br><br>
    <h1 class="dm-serif-text-regular font-weight-bold" id="primary" style="word-wrap: break-word;">Designer, Full Stack Developer & Mentor</h1>
    <br>
    <h3 class="dancing-script-lead">I design and build simple things and love what I do</h3>
    <br><br><br>
    <img src="{% static 'images/computer.svg' %}" class="w-75" alt="devices">
</div>
<br><br>

<!-- Basic Intro -->
<div class="container p-5  mb-0 text-dark" style="background-color: #DDEFFA; border-radius:5px">
    <div class="row ">
        <div class="text-center col align-self-center">
            <h3 class="sedan-regular font-weight-bold display-4 text-center">Hi, I'm Yadu. Nice to meet you</h3>
            <br><br>
            <p class="sedan-regular-italic display-5 text-justify">With 3 years of experience as a Python developer, I've specialized in building dynamic websites using Django and front-end tools. <br> My work includes designing and developing robust web applications and managing databases with PostgreSQL. <br> I'm passionate about coding, continuously honing my skills, and eager to tackle new challenges in the ever-evolving tech landscape.</p>
            <br>
            <img src="{% static 'images/profile.jpg' %}" alt="profile-image" class="w-50" style="box-shadow: 0 0 5px hwb(0 0% 100%); border-radius: 8px;">
        </div>
    </div>
</div>

<!-- Academics -->
<div class="container p-5 text-center my-0 text-dark">
    <div class="row">
        <div class="d-flex flex-column justify-content-center">
            <div class="align-self-center">
                <img src="{% static 'images/academics.png' %}" alt="academics" class="w-50">
            </div>
            <div class="align-self-center">
                <p class="display-4 sedan-regular-italic">Academics</p>
            </div>
        </div>
        <div class="sedan-regular-italic">
            <p class="text-justify">I graduated with a <strong>Bachelor of Engineering</strong> in <strong>Electronics and Communication Engineering</strong> from <strong>Government Engineering College, Thrissur</strong>, achieving an <strong>8.61 CGPA</strong>. During my time at college, I cultivated a deep interest in Python, which laid the groundwork for my career as a developer. My passion for programming led me to pursue additional learning opportunities, earning an <strong>NPTEL</strong> certification in Python, along with various other certifications from Coursera and Udemy.</p>
            <p class="text-justify">In addition to my academic pursuits, I was an active member of the <strong>Oasis Pain and Palliative Care</strong> team, where I contributed to community service and developed a sense of empathy and teamwork. These experiences, both technical and humanitarian, have shaped me into a well-rounded professional, ready to take on new challenges.</p>
        </div>
    </div>
</div>

<!-- Certifications -->
<div class="container text-center my-4 py-4 text-dark" style="background-color: #eee3e3;border-radius:5px">
    <h3 class="sedan-regular font-weight-bold display-4">Certifications</h3>
    <br><br>
    <div class="row">
        {% for certificate in certificates %}
        <div class="col-md-6 mb-4">
            <div class="card bg-light" style="height: 500px;">
                {% if certificate.cover_image %}
                <img src="{{ certificate.cover_image.url }}" alt="Certificate Cover" class="card-img-top" width="250px" height="250px">
                {% endif %}
                <div class="card-body">
                    <br>
                    {% if certificate.certificate_image %}
                    <a href="{{ certificate.certificate_image.url }}" target="_blank" id="hover-section" style="text-decoration: none;"><h5 class="card-title sedan-regular font-weight-bold text-dark" style="font-size: xx-large;">{{ certificate.certification_name }}</h5></a>
                    {% else %}
                    <h5 class="card-title sedan-regular font-weight-bold text-dark" style="font-size: xx-large;">{{ certificate.certification_name }}</h5>
                    {% endif %}
                    <p class="card-text lead sedan-regular m-1">{{ certificate.certification_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="container-fluid px-5 pt-5 text-center text-dark" style="background-color:#afd4ea;">
    <p class="jersey-10-regular font-weight-bold">Levelling Up, One day at a time.</p>
    <p class="jersey-10-regular" style="font-size: 35px;">Find Me On</p>
    <div class="d-flex justify-content-center flex-row">
        <div class="p-3"><a href="https://github.com/yadu100" target="_blank"><i class="bi bi-github"></i></a></div>
        <div class="p-3"><a href="https://www.linkedin.com/in/yadu-krishnan-b-34bb191a1/" target="_blank"><i class="bi bi-linkedin"></i></a></div>
        <div class="p-3"><a href="https://www.instagram.com/y_a__du/" target="_blank"><i class="bi bi-instagram"></i></a></div>
        <div class="p-3"><a href="{% static 'images/resume.pdf' %}" target="_blank"><i class="bi bi-file-person-fill"></i></a></div>
    </div>
    <div class="container">
        <br>
        <hr class="bg-secondary">
        <p class="text-left"><i class="bi bi-c-circle" style="font-size: 20px;"></i> {{ current_year }} <strong>Yadu</strong></p>
        <br>
    </div>
</div>
{% endblock %}