{% extends 'base.html' %}
{% block nav_contact_style %}bg-primary text-white{% endblock %}

{% block content %}

<!-- flash message section -->
{% for msg in messages %}
<div class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show w-50 m-auto text-center" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<!-- Contact Body -->
<div class="container text-center">
    <br><br><br><br>
    <p class="dm-serif-text-regular">Contact Me</p>
    <br>
    <p class="display-5 lead text-monospace">If you'd like to chat about a project or job or just have question, please fill in the form below. I aim to get back within 2 days.</p>
    <hr>
    <br><br><br>
</div>

<div class="container mb-5">
    <form action="#" method="post">
        {% csrf_token %}
        <div class="form-row mb-4">
            <div class="form-group col-md-6">
                <label class="font-weight-bold text-monospace" for="inputname">Name <span style="color: rgb(220, 0, 0);">*</span></label>
                <input type="text" name="Name" class="form-control form-control-lg" id="inputname" required>
            </div>
            <div class="form-group col-md-6">
                <label class="font-weight-bold text-monospace" for="inputemail">Email <span style="color: rgb(220, 0, 0);">*</span></label>
                <input type="email" name="Email" class="form-control form-control-lg" id="inputemail" required>
            </div>
        </div>
        <div class="form-group mb-4">
            <label class="font-weight-bold text-monospace" for="inputsubject">Subject <span style="color: rgb(220, 0, 0);">*</span></label>
            <input type="text" class="form-control form-control-lg" id="inputsubject" name="Subject" required>
        </div>
        <div class="form-group mb-4">
            <label class="font-weight-bold text-monospace" for="inputmessage">Message <span style="color: rgb(220, 0, 0);">*</span></label>
            <textarea name="Message" id="inputmessage" class="form-control form-control-lg" required></textarea>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <input type="submit" value="Send Message" class="btn btn-info btn-lg border rounded-pill font-weight-bold">
        </div>
    </form>
</div>

{% endblock %}